aae	Aedes aegypti
aca	Anolis carolinensis
aga	Anopheles gambiae
aly	Arabidopsis lyrata
ame	Apis mellifera
api	Acyrthosiphon pisum
ata	Aegilops tauschii
ath	Arabidopsis thaliana
atr	Amborella trichopoda
bdi	Brachypodium distachyon
bfl	Branchiostoma floridae
blv	Bovine leukemia virus
bma	Brugia malayi
bmo	Bombyx mori
bna	Brassica napus
bra	Brassica rapa
bta	Bos taurus
cbn	Caenorhabditis brenneri
cbr	Caenorhabditis briggsae
cel	Caenorhabditis elegans
cfa	Canis familiaris
chi	Capra hircus
cin	Ciona intestinalis
cqu	Culex quinquefasciatus
cre	Chlamydomonas reinhardtii
crm	Caenorhabditis remanei
csa	Ciona savignyi
cte	Capitella teleta
dan	Drosophila ananassae
ddi	Dictyostelium discoideum
der	Drosophila erecta
dgr	Drosophila grimshawi
dme	Drosophila melanogaster
dmo	Drosophila mojavensis
dpe	Drosophila persimilis
dps	Drosophila pseudoobscura
dpu	Daphnia pulex
dre	Danio rerio
dse	Drosophila sechellia
dsi	Drosophila simulans
dvi	Drosophila virilis
dwi	Drosophila willistoni
dya	Drosophila yakuba
ebv	Epstein Barr virus
eca	Equus caballus
efu	Eptesicus fuscus
egr	Echinococcus granulosus
emu	Echinococcus multilocularis
esi	Ectocarpus siliculosus
fru	Fugu rubripes
gga	Gallus gallus
ggo	Gorilla gorilla
gma	Glycine max
gra	Gossypium raimondii
hbr	Hevea brasiliensis
hbv	Herpes B virus
hcmv	Human cytomegalovirus
hme	Heliconius melpomene
hsa	Homo sapiens
isc	Ixodes scapularis
kshv	Kaposi sarcoma-associated herpesvirus
lgi	Lottia gigantea
lja	Lotus japonicus
mdm	Malus domestica
mdo	Monodelphis domestica
mdv1	Mareks disease virus type 1
mes	Manihot esculenta
mghv	Mouse gammaherpesvirus 68
mml	Macaca mulatta
mmu	Mus musculus
mse	Manduca sexta
mtr	Medicago truncatula
nve	Nematostella vectensis
nvi	Nasonia vitripennis
oan	Ornithorhynchus anatinus
oar	Ovis aries
ocu	Oryctolagus cuniculus
oha	Ophiophagus hannah
ola	Oryzias latipes
osa	Oryza sativa
pma	Petromyzon marinus
ppc	Pristionchus pacificus
ppe	Prunus persica
ppt	Physcomitrella patens
ppy	Pongo pygmaeus
prd	Panagrellus redivivus
ptc	Populus trichocarpa
ptr	Pan troglodytes
pxy	Plutella xylostella
rco	Ricinus communis
rno	Rattus norvegicus
rrv	Rhesus monkey rhadinovirus
sbi	Sorghum bicolor
sha	Sarcophilus harrisii
sja	Schistosoma japonicum
sko	Saccoglossus kowalevskii
sly	Solanum lycopersicum
sma	Schistosoma mansoni
sme	Schmidtea mediterranea
spu	Strongylocentrotus purpuratus
ssc	Sus scrofa
str	Strongyloides ratti
stu	Solanum tuberosum
tca	Tribolium castaneum
tch	Tupaia chinensis
tgu	Taeniopygia guttata
tni	Tetraodon nigroviridis
vvi	Vitis vinifera
xtr	Xenopus tropicalis
zma	Zea mays
