<tables>
    <!-- Location of Picard dict file and other files -->
    <table name="go_genomes" comment_char="#">
        <columns>value, name</columns>
        <file path="${__HERE__}/test-data/genomes.loc" />
    </table>
    <table name="go_gene_ids" comment_char="#">
        <columns>value, name</columns>
        <file path="${__HERE__}/test-data/gene_ids.loc" />
    </table>
</tables>
