<tool id="autocorrelation_mapper" name="Autocorrelation Mapper">
	<description></description>
	<command interpreter="python">autocorrelation_mapper.py $input $mincoor $maxcoor $output</command>
	<inputs>
       		<param name="input" type="data" format="tabular" label="Tabular, ordinated, read profile"/>
                <param name="mincoor" type="text" size="8" label="upstream window coordinate"/>
                <param name="maxcoor" type="text" size="8" label="downstream window coordinate"/>
	</inputs>
	<outputs>
                <data name="output" format="tabular"/>
	</outputs>
	<help>

**What it does**

Autocorrelation of an extract window with the profile it originate from
Under developpement
-----	

**Warning**

.. class:: warningmark


	</help>
</tool>
