<tables>
    <!-- Locations of all rsem reference files under genome directory -->
    <table name="rsem_indexes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/rsem_indices.loc" />
    </table>
</tables>

