<tool id="correlation_mapper" name="Correlation Mapper" version="0.0.1">
	<description></description>
	<command interpreter="python">correlation_mapper.py $input $output $index $referencetable</command>
	<inputs>
            <param name="index" type="select" label="Select the reference genome used for the bowtie output" help="if your genome of interest is not listed - contact Christophe Antoniewski at drosofff@gmail.com">
                <options from_data_table="ged_bowtie_indexes"></options>
            </param>
       		<param name="input" type="data" format="tabular" label="read profile to scope"/>
                <param name="referencetable" type="data" format="tabular" label="Reference Table Profile to slide for correlation"/>
	</inputs>
	<outputs>
                <data name="output" format="tabular"/>
	</outputs>
	<help>

**What it does**

This tool is a basic wrapper for correlation_mapper.py.
Under developpement
-----	

**Warning**

.. class:: warningmark


	</help>
</tool>
