knownGene	knownGene, UCSC Genes, NA, Entrez Gene ID
knownGeneOld3	knownGeneOld3, Old UCSC Genes, NA, 
ccdsGene	ccdsGene, CCDS, NA, 
refGene	refGene, RefSeq Genes, NA, Entrez Gene ID
xenoRefGene	xenoRefGene, Other RefSeq, NA, 
vegaGene	vegaGene, Vega Genes, Vega Protein Genes, HAVANA Pseudogene ID
vegaPseudoGene	vegaPseudoGene, Vega Genes, Vega Pseudogenes, HAVANA Pseudogene ID
ensGene	ensGene, Ensembl Genes, NA, Ensembl gene ID
acembly	acembly, AceView Genes, NA, 
sibGene	sibGene, SIB Genes, NA, 
nscanPasaGene	nscanPasaGene, N-SCAN, N-SCAN PASA-EST, 
nscanGene	nscanGene, N-SCAN, N-SCAN, 
sgpGene	sgpGene, SGP Genes, NA, 
geneid	geneid, Geneid Genes, NA, 
genscan	genscan, Genscan Genes, NA, 
exoniphy	exoniphy, Exoniphy, NA, 
augustusHints	augustusHints, Augustus, Augustus Hints, 
augustusXRA	augustusXRA, Augustus, Augustus De Novo, 
augustusAbinitio	augustusAbinitio, Augustus, Augustus Ab Initio, 
acescan	acescan, ACEScan, NA, 
lincRNAsTranscripts	lincRNAsTranscripts, lincRNAsTranscripts, NA, Name of gene
wgEncodeGencodeManualV3	wgEncodeGencodeManualV3, Gencode Genes, Gencode Manual, Ensembl gene ID
wgEncodeGencodeAutoV3	wgEncodeGencodeAutoV3, Gencode Genes, Gencode Auto, Ensembl gene ID
wgEncodeGencodePolyaV3	wgEncodeGencodePolyaV3, Gencode Genes, Gencode PolyA, Ensembl gene ID
wgEncodeGencodeBasicV17	wgEncodeGencodeBasicV17, GENCODE Genes V17, NA, Ensembl gene ID
wgEncodeGencodeCompV17	wgEncodeGencodeCompV17, GENCODE Genes V17, NA, Ensembl gene ID
wgEncodeGencodePseudoGeneV17	wgEncodeGencodePseudoGeneV17, GENCODE Genes V17, NA, Ensembl gene ID
wgEncodeGencode2wayConsPseudoV17	wgEncodeGencode2wayConsPseudoV17, GENCODE Genes V17, NA, Ensembl gene ID
wgEncodeGencodePolyaV17	wgEncodeGencodePolyaV17, GENCODE Genes V17, NA, Ensembl gene ID
wgEncodeGencodeBasicV14	wgEncodeGencodeBasicV14, GENCODE Genes V14, NA, Ensembl gene ID
wgEncodeGencodeCompV14	wgEncodeGencodeCompV14, GENCODE Genes V14, NA, Ensembl gene ID
wgEncodeGencodePseudoGeneV14	wgEncodeGencodePseudoGeneV14, GENCODE Genes V14, NA, Ensembl gene ID
wgEncodeGencode2wayConsPseudoV14	wgEncodeGencode2wayConsPseudoV14, GENCODE Genes V14, NA, Ensembl gene ID
wgEncodeGencodePolyaV14	wgEncodeGencodePolyaV14, GENCODE Genes V14, NA, Ensembl gene ID
wgEncodeGencodeBasicV7	wgEncodeGencodeBasicV7, GENCODE Genes V7, NA, Ensembl gene ID
wgEncodeGencodeCompV7	wgEncodeGencodeCompV7, GENCODE Genes V7, NA, Ensembl gene ID
wgEncodeGencodePseudoGeneV7	wgEncodeGencodePseudoGeneV7, GENCODE Genes V7, NA, Ensembl gene ID
wgEncodeGencode2wayConsPseudoV7	wgEncodeGencode2wayConsPseudoV7, GENCODE Genes V7, NA, Ensembl gene ID
wgEncodeGencodePolyaV7	wgEncodeGencodePolyaV7, GENCODE Genes V7, NA, Ensembl gene ID
flyBaseGene	flyBaseGene, FlyBase Genes, NA, Name of canonical transcript in cluster
sgdGene	sgdGene, SGD Genes, NA, Name of canonical transcript in cluster
geneSymbol	geneSymbol, refGene, refFlat, Gene Symbol
