Anopheles gambiae (org.Ag.eg.db)	org.Ag.eg.db
Arabidopsis thaliana (org.At.tair.db)	org.At.tair.db
Bos taurus (org.Bt.eg.db)	org.Bt.eg.db
Caenorhabditis elegans (org.Ce.eg.db)	org.Ce.eg.db
Canis familiaris (org.Cf.eg.db)	org.Cf.eg.db
Drosophila melanogaster (org.Dm.eg.db)	org.Dm.eg.db
Danio rerio (org.Dr.eg.db)	org.Dr.eg.db
Escherichia coli (org.EcK12.eg.db)	org.EcK12.eg.db
Escherichia coli (org.EcSakai.eg.db)	org.EcSakai.eg.db
Gallus gallus (org.Gg.eg.db)	org.Gg.eg.db
Homo sapiens (org.Hs.eg.db)	org.Hs.eg.db
Mus musculus (org.Mm.eg.db)	org.Mm.eg.db
Macaca mulatta (org.Mmu.eg.db)	org.Mmu.eg.db
Plasmodium falciparum (org.Pf.plasmo.db)	org.Pf.plasmo.db
Pan troglodytes (org.Pt.eg.db)	org.Pt.eg.db
Rattus norvegicus (org.Rn.eg.db)	org.Rn.eg.db
Saccharomyces cerevisiae (org.Sc.sgd.db)	org.Sc.sgd.db
Sus scrofa (org.Ss.eg.db)	org.Ss.eg.db
Toxoplasma gondii (org.Tgondii.eg.db)	org.Tgondii.eg.db
Xenopus laevis (org.Xl.eg.db)	org.Xl.eg.db
