<tables>
    <!-- Available organism packages and available categories for getgo tool -->
    <table name="org_names" comment_char="#">
        <columns>name, value</columns>
        <file path="tool-data/org_names.loc.sample" />
    </table>
    <table name="available_categories" comment_char="#">
        <columns>name, value, package</columns>
        <file path="tool-data/available_categories.loc.sample" />
    </table>
    <table name="available_identifiers" comment_char="#">
        <columns>name, value, package</columns>
        <file path="tool-data/available_identifiers.loc.sample" />
    </table>
</tables>
